---
import Grid from "../components/Grid.astro";
---

<html>
  <head>
    <title>Expandable Grid</title>
  </head>
  <body>
    <header>
      <h1>Notion Image Grid</h1>
    </header>
    
    <Grid />

    <footer>
      <p>© 2024 My Astro Site</p>
    </footer>
  </body>
</html>
