---
import { fetchNotionData } from "../utils/notion";
const data = await fetchNotionData();
---

<div class="grid grid-cols-[repeat(auto-fill,minmax(220px,1fr))] gap-2 w-[90vw] max-w-[800px] mx-auto">
  {data.map((item) => (
    <div class="card flex items-center justify-center aspect-square rounded-xl overflow-hidden cursor-pointer bg-gray-300" data-key={item.id}>
      <img class="w-full h-full object-cover" src={`/img/${item.slug}.png`} alt={item.slug} />
    </div>
  ))}
</div>